body {
  background-color: black;
  color: white;
  font-size: 200%;
}

html, body {
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  display: none;
  padding: 16px;
}

.page h2 {
  font-size: 150%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page h3 {
  font-size: 120%;
  text-indent: 1em;
  margin-bottom: 0;
}

.page.shown {
  display: block;
}
