pre {
  margin-bottom: 0;
}

p {
  margin-bottom: 0.1em;
}

.sample {
  display: flex;
  flex-wrap: wrap;
  font-size: 50%;
}

.sample > * {
  flex-grow: 1;
}

.code {
  position: relative;
  padding: 4px 8px;
}

.code .title {
  margin-left: 6px;
  margin-bottom: 4px;
}

.code .navigation {
  position: absolute;
  right: 8px;
  text-align: right;
}

.code .navigation button {
  font-size: 0.9rem;
  background-color: white;
  color: black;
  border: white solid 1px;
}

.code .navigation button:hover {
  background-color: black;
  color: white;
}
